.intro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    padding-left: 150px;
    line-height: 1px;
}
.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    padding-left: 160px;
    line-height: 3px;
}
.img{
    padding-left: 170px;
}
.contain{
    padding-left: 20px;
}
.container-sm-3{
text-align: justify;
color: brown;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 10px;
    }
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    /* color: red; */
    /* padding-left: 500px; */
}

.col-sm-5{
    font-size: 15px;
    padding-left: 50px;
}
.col-sm-5{
   text-align: justify;
}


.sm{
    background-image: url(img1/bulbs22.jpg);
    background-size: contain;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 30px;
}
.blur{
    position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(30px);
}
.content{
    position: relative;
        z-index: 1;
        padding: 20px;
        color: white;
        font-size: 15px;
}
h5{
    text-align: center;
    color: blue;
    font-size: 20px;
    
}
h6{
    text-align: center;
    color: red;
}
p1{
    color: antiquewhite;
}
.container1{
    background-color: gainsboro;
    padding: 100px;
    color: blue;
    padding-top: 50px;
    margin-top: 30px;
}
p2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: brown;
}
.intro {
position: fixed;
background-color: whitesmoke;
}
p3{
    color: brown;
    font-size: 20px;
}
.col-3{
    text-align: justify;
}

p4{
    color: brown;
}
    

